<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OhNaMi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FDC6F031ED18F54009F53A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FDC6F1A1ED18F55009F53A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FDC6F251ED18F55009F53A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
